* {
box-sizing: border-box;
}

html {
  background: #CEFFFF;
  color: #19171c;
  width: 100%;
}

body {
  font-family: 'Cabin', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

nav {
  width: 100%;
  height: 70px;
  background: #3456a9;
  margin: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;

}

.nav-container {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: auto;
}

nav ul {
  float: right;
  margin: 0;
  padding: 0;

}
nav ul li {
  display: inline-block;
  float: left;
}
nav ul li:not(:first-child) {
  margin-left: 25px;
}
nav ul li a {
  display: inline-block;
  outline: none;
  color: white;
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 0.04em;
}
nav ul li a:hover {
  color: black;
  text-decoration: none;
}

.logo {
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1vw;
  color: white;
  display: inline;
}

.hero img {
  width: 100%;
}

.presentation {
  display: flex;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  /*max-width: 1515px;*/
  /*justify-content: center;*/
  flex-wrap: wrap;
  width: 96%;
  margin: 2%;
  padding: 0;
}

figure {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(168, 168, 168, 0.5);
}

.image {
  width: 21%;
  border-radius: 10px;
  margin: 2%;
}

.image img {
  width: 100%;
}

@media (max-width: 600px) {
  .image {
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .image {
    width: 46%;
  }
}
@media screen and (max-width: 760px) {
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #34b6a9;
    opacity: 0;
    transition: all 0.2s ease;
  }
  .nav-container ul {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    width: 100%;
  }
  .nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .nav-container ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }
  .nav-container ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }
  .nav-container ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }
  .nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }
  .nav-container ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #fff;
    font-size: 24px;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }
  .nav-open {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  .nav-open i {
    display: block;
    width: 20px;
    height: 2px;
    background: white;
    margin-left: 14px;
  }
  .nav-open i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-open i:nth-child(3) {
    margin-top: 4px;
  }
}
#nav:checked + .nav-open {
  transform: rotate(45deg);
}
#nav:checked + .nav-open i {
  background: #fff;
  transition: transform 0.2s ease;
}
#nav:checked + .nav-open i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}
#nav:checked + .nav-open i:nth-child(2) {
  opacity: 0;
}
#nav:checked + .nav-open i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}
#nav:checked ~ .nav-container {
  z-index: 9990;
  opacity: 1;
}
#nav:checked ~ .nav-container ul li a {
  opacity: 1;
  transform: translateY(0);
}
.hidden {
  display: none;
}
