* {
box-sizing: border-box;
}

html {
  background: #CEFFFF;
  color: #19171c;
}

h1 {
  font-family: Rock Salt;
  color: #fff:
}

header {
  text-align: center;
}

.image-column {
  width: 100%;
}

.image {
  width: 20%;
  float: left;
}

figure {
  float: left;
  padding: 7px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(168, 168, 168, 0.5);
}

img {
  width: 100%;
  border-radius: 10px;
}
/*
@media (maxwidth=400px) {
  .image {
    width: 100%;
  }
}

@media (minwidth=401px and maxwidth=800px) {
  .image {
    width: 30%;
  }
}*/
